html
{

  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0 auto;
  top: 0;
  width: 100%;
  overflow-x: hidden;
}

h1
{
  margin-left: 55px;
  color: white;
}

#canvas
{
  /*width: 100%;
  height: 100%;*/
  position: absolute;
  z-index: 1;
  top: -16px;
  bottom: -16px;
}

.mainDiv
{
  width: 60%;
  height: 800px;
  background-color: blue;
  position: relative;
  margin: 0 auto;
  z-index: 2;
  top: 70px;
  border: 2px solid white;
  border-radius: 25px;
  background: rgba(26, 36, 44, .8);
}

.content
{
  height: 700px;
  width: 100%;
  overflow: auto;
  position: absolute;
  bottom: 0;
  -webkit-scrollbar-button: hidden;
}

nav{
  text-align: center;
  background-color: #70A9A1;
  width: 100%;
  max-width: inherit;
  position: fixed;
  height: 50px;
}

.books
{
  margin-bottom: 50px;
}

.button-links
{
  background-color: #70A9A1;
  color: black;
  padding: 16px;
  padding-bottom: 17px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  line-height: 50px;
  text-decoration: none;
}

.button-links:hover
{
  background-color:#f5f6f8;
  color: black;
}

footer
{
  color: white;
  background-color: #70A9A1;
  bottom: 0;
  text-align: center;
}

.article
{
  margin: 0 auto;
  padding-bottom: 50px;
  width: 650px;
}

#botArticle
{
  margin-top: 50px;
}

.image_div
{
  width: 250px;
  height: 250px;
  background-color: grey;
  display: inline-block !important;
  text-align: center;
}

.text_div
{
  width: 100px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 180px;
  visibility: hidden;
}
